@page "/lecturers/delete"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Lecturer</h2>
    <hr />
    @if (lecturer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@lecturer.Email</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Department</dt>
            <dd class="col-sm-10">@lecturer.Department</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@lecturer.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Code</dt>
            <dd class="col-sm-10">@lecturer.Code</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Details</dt>
            <dd class="col-sm-10">@lecturer.Details</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ValidFrom</dt>
            <dd class="col-sm-10">@lecturer.ValidFrom</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ValidTo</dt>
            <dd class="col-sm-10">@lecturer.ValidTo</dd>
        </dl>
        <EditForm method="post" Model="lecturer" OnValidSubmit="DeleteLecturer" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(lecturer is null)">Delete</button> |
            <a href="/lecturers">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Lecturer? lecturer;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        lecturer = await context.Lecturer.FirstOrDefaultAsync(m => m.Id == Id);

        if (lecturer is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteLecturer()
    {
        using var context = DbFactory.CreateDbContext();
        context.Lecturer.Remove(lecturer!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/lecturers");
    }
}
