@page "/students/details"
@* Stay on the server, don't move to the browser *@
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Student</h2>
    <hr />
    @if (student is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@student.Email</dd>
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@student.Name</dd>
            <dt class="col-sm-2">Code</dt>
            <dd class="col-sm-10">@student.Code</dd>
            <dt class="col-sm-2">Details</dt>
            <dd class="col-sm-10">@student.Details</dd>
            <dt class="col-sm-2">ValidFrom</dt>
            <dd class="col-sm-10">@student.ValidFrom</dd>
            <dt class="col-sm-2">ValidTo</dt>
            <dd class="col-sm-10">@student.ValidTo</dd>
        </dl>
        <div>
            <a href="@($"/students/edit?id={student.Id}")">Edit</a> |
            <a href="@($"/students")">Back to List</a>
        </div>
    }
</div>

@code {
    private Student? student;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        student = await context.Student.FirstOrDefaultAsync(m => m.Id == Id);

        if (student is null)
        {
            NavigationManager.NotFound();
        }
    }
}
