@page "/bookingpages/delete"
@* Stay on the server, don't move to the browser *@
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>BookingPage</h2>
    <hr />
    @if (bookingpage is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SlotId</dt>
            <dd class="col-sm-10">@bookingpage.SlotId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">StudentId</dt>
            <dd class="col-sm-10">@bookingpage.StudentId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">BookingDate</dt>
            <dd class="col-sm-10">@bookingpage.BookingDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Note</dt>
            <dd class="col-sm-10">@bookingpage.Note</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@bookingpage.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ValidFrom</dt>
            <dd class="col-sm-10">@bookingpage.ValidFrom</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ValidTo</dt>
            <dd class="col-sm-10">@bookingpage.ValidTo</dd>
        </dl>
        <EditForm method="post" Model="bookingpage" OnValidSubmit="DeleteBookingPage" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(bookingpage is null)">Delete</button> |
            <a href="/bookingpages">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private BookingPage? bookingpage;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bookingpage = await context.BookingPage.FirstOrDefaultAsync(m => m.Id == Id);

        if (bookingpage is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteBookingPage()
    {
        using var context = DbFactory.CreateDbContext();
        context.BookingPage.Remove(bookingpage!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookingpages");
    }
}
