@page "/bookingpages/details"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>BookingPage</h2>
    <hr />
    @if (bookingpage is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SlotId</dt>
            <dd class="col-sm-10">@bookingpage.SlotId</dd>
            <dt class="col-sm-2">StudentId</dt>
            <dd class="col-sm-10">@bookingpage.StudentId</dd>
            <dt class="col-sm-2">BookingDate</dt>
            <dd class="col-sm-10">@bookingpage.BookingDate</dd>
            <dt class="col-sm-2">Note</dt>
            <dd class="col-sm-10">@bookingpage.Note</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@bookingpage.Status</dd>
            <dt class="col-sm-2">ValidFrom</dt>
            <dd class="col-sm-10">@bookingpage.ValidFrom</dd>
            <dt class="col-sm-2">ValidTo</dt>
            <dd class="col-sm-10">@bookingpage.ValidTo</dd>
        </dl>
        <div>
            <a href="@($"/bookingpages/edit?id={bookingpage.Id}")">Edit</a> |
            <a href="@($"/bookingpages")">Back to List</a>
        </div>
    }
</div>

@code {
    private BookingPage? bookingpage;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bookingpage = await context.BookingPage.FirstOrDefaultAsync(m => m.Id == Id);

        if (bookingpage is null)
        {
            NavigationManager.NotFound();
        }
    }
}
