@page "/bookingpages"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Booking Pages</PageTitle>

<h1>Booking Pages</h1>

<p>
    <a href="bookingpages/create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>SlotId</th>
            <th>BookingDate</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bookingpage in bookingpages)
        {
            <tr>
                <td>@bookingpage.SlotId</td>
                <td>@bookingpage.BookingDate.ToShortDateString()</td>
                <td>@bookingpage.Note</td>
                <td>
                    <a href="@($"bookingpages/edit?id={bookingpage.Id}")">Edit</a> |
                    <a href="@($"bookingpages/details?id={bookingpage.Id}")">Details</a> |
                    <a href="@($"bookingpages/delete?id={bookingpage.Id}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<BookingPage> bookingpages = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bookingpages = await context.BookingPage.ToListAsync();
    }
}
