@page "/userroles"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Infra
@inject IUserRolesRepo repo


<PageTitle>UserRoles</PageTitle>

<h1>UserRoles</h1>

<p>
    <a href="userroles/create">Create New</a>
</p>

<QuickGrid Class="table" Items="userRoles">
    <TemplateColumn Title="User" Context="userrole">
        @userrole.User?.Name
    </TemplateColumn>

    <TemplateColumn Title="Role" Context="userrole">
        @userrole.Role?.Name
    </TemplateColumn>

    <TemplateColumn Context="userrole">
        <a href="@($"userroles/edit?id={userrole.Id}")">Edit</a> |
        <a href="@($"userroles/details?id={userrole.Id}")">Details</a> |
        <a href="@($"userroles/delete?id={userrole.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IQueryable<UserRole> userRoles = Enumerable.Empty<UserRole>().AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        var result = await repo.GetAsync(new Query());
        userRoles = result.AsQueryable();
    }

}