@page "/coursematerials/details"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>CourseMaterial</h2>
    <hr />
    @if (coursematerial is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CourseId</dt>
            <dd class="col-sm-10">@coursematerial.CourseId</dd>
            <dt class="col-sm-2">MaterialId</dt>
            <dd class="col-sm-10">@coursematerial.MaterialId</dd>
            <dt class="col-sm-2">ValidFrom</dt>
            <dd class="col-sm-10">@coursematerial.ValidFrom</dd>
            <dt class="col-sm-2">ValidTo</dt>
            <dd class="col-sm-10">@coursematerial.ValidTo</dd>
        </dl>
        <div>
            <a href="@($"/coursematerials/edit?id={coursematerial.Id}")">Edit</a> |
            <a href="@($"/coursematerials")">Back to List</a>
        </div>
    }
</div>

@code {
    private CourseMaterial? coursematerial;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        coursematerial = await context.CourseMaterial.FirstOrDefaultAsync(m => m.Id == Id);

        if (coursematerial is null)
        {
            NavigationManager.NotFound();
        }
    }
}
