@page "/courseselectors"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Course Selectors</PageTitle>

<h1>Course Selectors</h1>

<p>
    <a href="courseselectors/create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>CourseId</th>
            <th>LecturerId</th>
            <th>StudentId</th>
            <th>ValidFrom</th>
            <th>ValidTo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var courseselector in courseselectors)
        {
            <tr>
                <td>@courseselector.CourseId</td>
                <td>@courseselector.LecturerId</td>
                <td>@courseselector.StudentId</td>
                <td>@courseselector.ValidFrom</td>
                <td>@courseselector.ValidTo</td>
                <td>
                    <a href="@($"courseselectors/edit?id={courseselector.Id}")">Edit</a> |
                    <a href="@($"courseselectors/details?id={courseselector.Id}")">Details</a> |
                    <a href="@($"courseselectors/delete?id={courseselector.Id}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<CourseSelector> courseselectors = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        courseselectors = await context.CourseSelector.ToListAsync();
    }
}
