@page "/notifications/details"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Notification</h2>
    <hr />
    @if (notification is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ConsultationSlotId</dt>
            <dd class="col-sm-10">@notification.ConsultationSlotId</dd>
            <dt class="col-sm-2">LecturerId</dt>
            <dd class="col-sm-10">@notification.LecturerId</dd>
            <dt class="col-sm-2">StudentId</dt>
            <dd class="col-sm-10">@notification.StudentId</dd>
            <dt class="col-sm-2">Message</dt>
            <dd class="col-sm-10">@notification.Message</dd>
            <dt class="col-sm-2">SentAt</dt>
            <dd class="col-sm-10">@notification.SentAt</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@notification.Status</dd>
            <dt class="col-sm-2">ValidFrom</dt>
            <dd class="col-sm-10">@notification.ValidFrom</dd>
            <dt class="col-sm-2">ValidTo</dt>
            <dd class="col-sm-10">@notification.ValidTo</dd>
        </dl>
        <div>
            <a href="@($"/notifications/edit?id={notification.Id}")">Edit</a> |
            <a href="@($"/notifications")">Back to List</a>
        </div>
    }
</div>

@code {
    private Notification? notification;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        notification = await context.Notification.FirstOrDefaultAsync(m => m.Id == Id);

        if (notification is null)
        {
            NavigationManager.NotFound();
        }
    }
}
