@page "/courseconsultations"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Course Consultations</PageTitle>

<h1>Course Consultations</h1>

<p>
    <a href="courseconsultations/create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>CourseId</th>
            <th>ConsultationSlotId</th>
            <th>ValidFrom</th>
            <th>ValidTo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var courseconsultation in courseconsultations)
        {
            <tr>
                <td>@courseconsultation.CourseId</td>
                <td>@courseconsultation.ConsultationSlotId</td>
                <td>@courseconsultation.ValidFrom</td>
                <td>@courseconsultation.ValidTo</td>
                <td>
                    <a href="@($"courseconsultations/edit?id={courseconsultation.Id}")">Edit</a> |
                    <a href="@($"courseconsultations/details?id={courseconsultation.Id}")">Details</a> |
                    <a href="@($"courseconsultations/delete?id={courseconsultation.Id}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<CourseConsultation> courseconsultations = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        courseconsultations = await context.CourseConsultation.ToListAsync();
    }
}
